<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_category_init_after">
        <observer name="talexan_random3_category_id_save" instance="Talexan\Random3\Observer\CategoryIdSaver" />
    </event>
</config>
